doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title No users
    body
        h1 No user pages
        p Do not disturb, We are working in some features. Wait a minute please.    